<h1>1. Interpolation</h1>
<div style="text-align: center">
  {{ Heading }}
</div>

<h2>2. Property Binding</h2>
<input type="text" [value]="textValueDisplay" />

<h3>
  3. Event Binding
  <button style="background-color: aqua" (click)="onSubmit()">Submit</button>
</h3>

<h4>2 way Binding </h4>

<input type="text" [(ngModel)]="textValueDisplay"  >  

<a routerLink="/first">First link</a>

<a routerLink="/second">Second link</a>

<a routerLink="/third">third link</a>

<router-outlet></router-outlet>


