<div style="background-color: orange">
  <p>
    This is a Second component Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus illo odit unde ad provident iusto debitis
    maiores explicabo eaque consectetur laudantium quae placeat, in vero
    repudiandae, neque a atque sunt! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Pariatur recusandae consequatur eum quidem in quo sed
    natus at ad. Dolorum maxime excepturi facere quo at tenetur mollitia natus
    alias nisi.
  </p>
  <app-child></app-child>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus,
     distinctio deserunt velit iusto dolore iure eius dicta
     iste labore quo officiis! Iste numquam eius praesentium 
     doloribus quod voluptate alias delectus.
  </div>
  

